<!doctype html>
<html lang="en">

<%- include('header'); -%>

    <body>
        <div class="viewport-container">
            <div class="notification-container" id="notification-container">
            </div>
        </div>
        <div>
            <header>
                <h1 class="logo">REHEARSAL</h1>
                <nav>
                    <a href="/">Home</a>
                </nav>
            </header>
            
            <main>

            <section class="landing">
                <div class="landing-text">
                    <h1>Page Not Found</h1>
                    <button class="button" onclick="window.location.href='/'">Home</button>
                </div>
                <img src="static/404.svg">
            </section>

        </main>
    </div>

    <%- include('footer'); -%>

        <!-- Application Javascript -->

</body>

</html>