<!doctype html>
<html lang="en">

<%- include('header'); -%>

<body>
    <div id="landing">
        <%- include('navbar'); -%>

        <section class="landing">
            <div class="landing-text">
                <h1>Elevate your interview skills</h1>
                <button v-if="user" class="button" onclick="window.location.href='/explore';">Explore Questions</button>
                <button v-else class="button" onclick="window.location.href='/sign-up';">Sign-Up</button>
            </div>
            <img src="/static/landing.svg">
        </section>

</main>
</div>

<%- include('footer'); -%>

<!-- Application Javascript -->
<script defer src="/static/landing.js"></script>

</body>
</html>