<header>
    <h1 class="logo">REHEARSAL</h1>
    <nav v-if="user === null">
        <a href="/">Home</a>
        <a href="/sign-in">Sign In</a>
    </nav>
    <nav v-else>
        <a href="/explore">Explore</a>
        <a onclick="getAccount(this.innerText)">My Account</a>
        <a onclick="logout()">Sign Out</a>
    </nav>
</header>

<main>