<header>
    <h1 class="logo">REHEARSAL</h1>
    <nav v-if="user === null">
        <a href="/sign-in">Sign In</a>
    </nav>
    <nav v-else>
        <a href="/">Home</a>
        <a href="/account">{{user}}</a>
        <a @click="logout">Log Out</a>
    </nav>
</header>

<main>