<!doctype html>
<html lang="en">

<%- include('header'); -%>

<body>
    <div id="reset-password">
        <%- include('navbar'); -%>

<section class="reset-password rounded shadowed bordered card">
    <span class="item1 logo">REHEARSAL</span>
    <h2 class="item2 left-aligned">Reset Password</h2>
    <p class="item3 right-aligned">or <a href="/sign-in">sign in</a></p>
    <div class="item4">
        <div class="input">
            <span class="label">Email</span>
            <div>
                <span class="material-symbols-rounded">email</span>
                <input type="text" v-model="email">
            </div>
        </div>
        <p v-if="emailError" class="input-error error">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-in-username-error">{{emailError}}</span>
        </p>
    </div>
    <button class="item5 right-aligned" @click="resetPassword">Reset Password</button>
</section>

</main>
</div>
<!-- VueJS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<!-- Application Javascript -->
<script src="/static/reset-password.js"></script>

</body>

</html>