<!doctype html>
<html lang="en">

<%- include('header'); -%>

<body>
    <div id="set-new-password">
        <%- include('navbar'); -%>

        <section class="new-password rounded shadowed bordered card">
            <span class="item1 logo">REHEARSAL</span>
            <h2 class="item2 left-aligned">Set New Password</h2>
            <!-- <p class="item3 right-aligned">or <a href="/sign-in">sign in</a></p> -->
            <div class="item4">
                <label class="input" for="old-password-input">
                    <span class="label">Old Password</span>
                    <div>
                        <span class="material-symbols-rounded">lock</span>
                        <input type="text" id="old-password-input" v-model="oldPassword">
                    </div>
                </label>
                <p v-if="oldPasswordError" class="input-error error">
                    <span class="material-symbols-rounded">error</span>
                    <span id="old-password-error">{{oldPasswordError}}</span>
                </p>
            </div>
            <div class="item5">
                <label class="input" for="new-password-password1-input">
                    <span class="label">New Password</span>
                    <div>
                        <span class="material-symbols-rounded">lock</span>
                        <input type="text" id="new-password-password1-input" v-model="newPassword1">
                    </div>
                </label>
                <p v-if="newPassword1Error" class="input-error error">
                    <span class="material-symbols-rounded">error</span>
                    <span id="new-password-password1-error">{{newPassword1Error}}</span>
                </p>
            </div>
            <div class="item6">
                <label class="input" for="new-password-password2-input" >
                    <span class="label">Confirm New Password</span>
                    <div>
                        <span class="material-symbols-rounded">lock</span>
                        <input type="text" id="new-password-password2-input" v-model="newPassword2">
                    </div>
                </label>
                <p v-if="newPassword2Error" class="input-error error">
                    <span class="material-symbols-rounded">error</span>
                    <span id="new-password-password2-error">{{newPassword2Error}}</span>
                </p>
            </div>
            <button class="item7 right-aligned" @click="setNewPassword">Set Password</button>
        </section>

</main>
</div>

<%- include('footer'); -%>

<!-- Application Javascript -->
<script defer src="/static/set-new-password.js"></script>

</body>
</html>