<!doctype html>
<html lang="en">

<%- include('header'); -%>

<body>
    <div id="login">
        <%- include('navbar'); -%>

<section class="sign-in rounded shadowed bordered card">
    <span class="item1 logo">REHEARSAL</span>
    <h2 class="item2 left-aligned">Sign In</h2>
    <p class="item3 right-aligned">or <a href="/sign-up">create an account</a></p>
    <div class="item4">
        <label class="input" for="sign-in-username-input">
            <span class="label">Username</span>
            <div>
                <span class="material-symbols-rounded">person</span>
                <input type="text" id="sign-in-username-input" v-model="username">
            </div>
        </label>
        <p v-if="usernameError" class="input-error error">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-in-username-error">{{usernameError}}</span>
        </p>
    </div>
    <div class="item5">
        <label class="input" for="sign-in-password-input">
            <span class="label">Password</span>
            <div>
                <span class="material-symbols-rounded">lock</span>
                <input type="password" id="sign-in-password-input" v-model="password">
            </div>
        </label>
        <p v-if="passwordError" class="input-error error">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-in-password-error">{{passwordError}}</span>
        </p>
    </div>
    <p class="item6 left-aligned"><a href="/reset-password">Forgot your password?</a></p>
    <button class="item7 right-aligned" @click="login">Sign In</button>
</section>

</main>
</div>
<!-- VueJS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<!-- Application Javascript -->
<script src="/static/login.js"></script>

</body>

</html>