<section class="sign-up shadowed">
    <span class="item1 logo">REHEARSAL</span>
    <h2 class="item2 left-aligned">Sign Up</h2>
    <p class="item3 right-aligned">or <a @click="nav('sign-in')">sign in</a></p>
    <div class="item4">
        <div class="input">
            <span class="label">Email</span>
            <div>
                <span class="material-symbols-rounded">email</span>
                <input type="text">
            </div>
        </div>
        <p class="input-error error hidden">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-up-email-error">Email Error</span>
        </p>
    </div>
    <div class="item5">
        <div class="input">
            <span class="label">Username</span>
            <div>
                <span class="material-symbols-rounded">person</span>
                <input type="text">
            </div>
        </div>
        <p class="input-error error hidden">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-up-username-error">Username Error</span>
        </p>
    </div>
    <div class="item6">
        <div class="input">
            <span class="label">Password</span>
            <div>
                <span class="material-symbols-rounded">lock</span>
                <input type="text">
            </div>
        </div>
        <p class="input-error error hidden">
            <span class="material-symbols-rounded">error</span>
            <span id="sign-up-password-error">Password Error</span>
        </p>
    </div>
    <button class="item7 right-aligned">Sign Up</button>
</section>