# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# VS
/[Aa]zure[Ff]unctions/.venv
/[Aa]zure[Ff]unctions/.vscode

**/__pycache__