# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

#vs
/[Aa]zure[Ff]unctions/.venv
/[Aa]zure[Ff]unctions/.vscode


# __pycache__
__pycache__
.pyc

AzureFunctions/bin
AzureFunctions/lib
AzureFunctions/lib64
AzureFunctions/pyvenv.cfg
AzureFunctions/_requirements.txt
AzureFunctions/AzureData
AzureFunctions/Scripts
